{% extends "base.html" %}
{% block content %}
<!--edit page text  -->
<div class="row">
    <div class="col s12">
        <h2 class="titles">To make real use of this tool, its important that you update your symptoms as soon as they
            worsen/ improve.</h2>
        <p>What you record is valuable data for key workers in the healthcare system. They will be able to speed up your
            diagnosis, which will in turn, get you back on your feet in no time!</p>
    </div>
</div>

<!--symptom form to be edited -->
<div class="row" id="edit_symptoms">

        <form class="col s12" id="edit_form" method="POST" action="{{ url_for('edit_symptom', symptom_id=symptom._id) }}">

            <!--status of your self isolation  -->
            <div class="row">
                <div class="input-field status-options">

                    <select id="isolation_status" name="isolation_status" class="validate" required>
                        <option value="" disabled selected>Status</option>
                        {% for stat in status %}
                        {% if stat.isolation_status == symptom.isolation_status %}
                        <option value="{{ stat.isolation_status }}" selected>{{ stat.isolation_status }}</option>
                        {% else %}
                        <option value="{{ stat.isolation_status }}">{{ stat.isolation_status }}</option>
                        {% endif %}
                        {% endfor %}

                    </select>

                    <label for="isolation_status"></label>
                </div>
            </div>

            <!--symptom name -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="prefix fas fa-viruses"></i>
                    
                    <input id="symptom_name" name="symptom_name" class="validate" type="text" value="{{ symptom.symptom_name }}">
                    <label for="symptom_name">Symptom</label>
                </div>
            </div>

            <!-- symptom description -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="prefix fas fa-pen-square"></i>
                    <textarea id="description" name="description" class="validate"
                        required>{{ symptom.description }}</textarea>
                    <label for="description">Description</label>
                </div>
            </div>

            <!--symptom start date  -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="prefix fas fa-calendar-alt"></i>
                    <input type="text" class="datepicker validate" id="start_date" name="start_date" required
                        value="{{ symptom.start_date }}">
                    <label for="start_date">Start date</label>
                </div>
            </div>

            <!--mood -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="prefix fas fa-meh"></i>
                    <textarea id="mood" name="mood" class="validate" required>{{ symptom.mood }}</textarea>
                    <label id="mood-label" for="mood">How is your mood and mental health?</label>
                </div>
            </div>


            <div class="row">
                <!--discard changes button  -->
                <div class="col center-align s6">
                    <a class="btn waves-effect waves-light" href="{{url_for('get_symptoms')}}">Cancel
                        <i class="fas fa-times-cancel"></i>
                    </a>
                </div>
                <!--save changes button  -->
                <div class="col center-align s6">
                    <button class="btn waves-effect waves-light " type="submit" name="action">Save
                        <i class="fas fa-edit"></i>
                    </button>
                </div>

            </div>
        </form>
        </div>

    {% endblock %}