{% extends "base.html" %} {% block content %}

<div class="row">
  <h3 class="center-align">Hey {{ username }}</h3>
</div>
<div class="row">
<a
    class=" col s8 dropdown-trigger btn center-align valign-wrapper"
    href="#symptom-dropdown"
    data-target="symptom-dropdown"
    >Here are your symptoms</a
  >
 
  <ul class="collapsible dropdown-content" id="symptom-dropdown">
   {% for symptom in symptoms %} {% if session.user| lower ==
      symptom.symptom_recipient | lower %}
            <li>
            <div class="collapsible-header">
            <div class="col s3">
            <i class="prefix fas fa-viruses"></i>
              <!--add an are you sure button  --> 
                <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Delete</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Are you sure you want to delete?</h4>
      
    </div>
    <div class="modal-footer">
      <a href="{{ url_for('delete_symptom', symptom_id=symptom._id) }}" class="modal-close waves-effect waves-green btn-flat">Yes</a>
       <a href="#symptom-dropdown" class="modal-close waves-effect waves-green btn-flat">No</a>
    </div>
  </div>

                <a href="{{ url_for('edit_symptom', symptom_id=symptom._id) }}" class="btn-small green accented">Edit</a>

            </div>
            <div class="col s9">
            <strong>{{ symptom.symptom_name }} </strong> Experienced Since : <strong>{{ symptom.start_date}}</strong> added by : {{ symptom.symptom_recipient }}</div>
            </div>
            <div class="collapsible-body"><p>{{ symptom.description }}</p></div>
        </li>
    {% endif %} {% endfor %}
  </ul>
</div>

  

  {% endblock %}

