{% extends "base.html" %} {% block content %}
<!--my symptoms page body-->
<!--welcome text -->
<div class="row">
  <div class="col s12">
    <h1 class="titles">Good to see you again!</h1>
    <p>Feel free to update your latest symptoms, or add some more!</p>
  </div>
</div>

<!--if statement stating which html to display and when  -->
{% if symptom %} 
{% for symptom in symptoms %}
<div class="row">
  <div class="col s12">
    <h2 class="subtitles">Here are your symptoms</h2>
  </div>
</div>
{% endfor %}
{% else %}
<div class="row">
  <div class="col s12">
    <h2 class="subtitles">Looks like you don't have any current symptoms!</h2>
    <p>
      Either you're a really healthy cookie.. or you havent got round to adding
      any yet!
    </p>
    <a href="#add_symptoms">Here's where you can add your symptoms!</a>
  </div>
</div>
 {% endif %}

<div class="row">
  <div class="col s12">
    <ul>
      {% for symptom in symptoms %} {% if session.user| lower ==
      symptom.symptom_recipient | lower %}

      <li>
        <h1 class="title">{{ symptom.symptom_name }}</h1>
        <p>{{ symptom.description }}</p>
        <h3 class="small-titles">
          Experienced Since : {{ symptom.start_date}} added by : {{
          symptom.symptom_recipient }}
        </h3>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <a
      href="{{ url_for('edit_symptom', symptom_id=symptom._id) }}"
      class="btn-small green accented"
      >Edit</a
    >
<!--confirm delete modal  -->    
    <a
      class="waves-effect waves-light btn modal-trigger"
      href="#delete-confirmation"
      >Delete</a
    >
    <div id="delete-confirmation" class="modal">
      <div class="modal-content col s12">
        <h4 class="subtitles">Are you sure you want to delete?</h4>
      </div>
      <div class="modal-footer">
        <a
          href="{{ url_for('delete_symptom', symptom_id=symptom._id) }}"
          class="modal-close waves-effect waves-green btn-flat"
          >Yes</a
        >
        <a href="#!" class="modal-close waves-effect waves-green btn-flat"
          >No</a
        >
      </div>
    </div>
  </div>
</div>

{% endif %} {% endfor %}

<!--add symptom form -->
<div class="row"  id="add_symptoms">
<div class="col s12">
    <h1 class="titles">Add your symptoms</h1>
 
  <!--new symptom form  -->
  <form method="POST" action="{{ url_for('add_symptom') }}">
    <!--status of your self isolation  -->
    <div class="row">
      <div class="input-field col s6">
        <select
          id="isolation_status"
          name="isolation_status"
          class="validate"
          required
        >
          <option value="" disabled selected>
            What's your self isolation status?
          </option>
          {% for stat in status %}
          <option value="{{ stat.isolation_status }}">
            {{ stat.isolation_status }}
          </option>
          {% endfor %}
        </select>
        <label for="isolation_status"></label
        ><i class="fas left fa-house-user"></i>
      </div>
    </div>

    <!--new symptom  -->
    <div class="row">
      <div class="input-field col s6">
        <i class="prefix fas fa-viruses"></i>
        <input
          id="symptom_name"
          type="text"
          name="symptom_name"
          class="validate"
        />
        <label for="symptom_name">Symptom</label>
      </div>
    </div>
    <!-- symptom description -->
    <div class="row">
      <div class="input-field col s6">
        <i class="prefix fas fa-pen-square"></i>
        <textarea
          id="description"
          type="text"
          name="description"
          class="validate"
          required
        ></textarea>
        <label for="description">Description</label>
      </div>
    </div>
    <!--symptom start date  -->
    <div class="row">
      <div class="input-field col s6">
        <i class="prefix fas fa-calendar-alt"></i>
        <input
          type="text"
          class="datepicker validate"
          id="start_date"
          name="start_date"
          required
        />
        <label for="start_date">Start date</label>
      </div>
    </div>
    <!--mood -->
    <div class="row">
      <div class="input-field col s6">
        <i class="prefix fas fa-meh"></i>
        <textarea
          id="mood"
          type="text"
          name="mood"
          class="validate"
          required
        ></textarea>
        <label for="mood">How is your mood and mental health?</label>
      </div>
    </div>

    <!--submit button  -->
    <div class="row">
      <div class="col center-align s6">
        <!--add an are you sure button  -->

        <button
          class="btn waves-effect waves-light"
          type="submit"
          name="action"
        >
          Save
          <i class="fas fa-check-square"></i>
        </button>
      </div>
    </div>
  </form>
</div>
</div>

{% endblock %}
