{% extends "base.html" %}
{% block content %}

  <div class="row">
  <div class="col s12">
       <h1 class="titles"> Get registered to start adding, viewing and editing your symptoms! </h1>

 
    <form  method="POST" action="{{ url_for('register') }}">

<!--username for register -->
      <div class="input-field col s12">
          <i class="fas fa-envelope"></i>
          <input id="username" type="text" class="validate" name="username" placeholder="Choose a Username" required pattern="^[a-z0-9_-]{3,16}$" minlength="5">
        </div>
<!--password for register -->
      <div class="input-field col s12">
          <i class="fas fa-lock"></i>
          <input id="password" type="password" class="validate" name="password" placeholder="Create a Password" required minlength="5" maxlength="15">
     </div>
<!-- confirm password -->
      <div class="input-field col s12">
          <i class="fas fa-lock"></i>
          <input id="confirmpassword" type="text" class="validate" name="confirmpassword" placeholder="Confirm Password" required minlength="5" maxlength="15">
     </div>
<div class="col s6">
 <button class="btn waves-effect waves-light button-labels" type="submit" name="action">Register
  <i class="fas fa-user-plus"></i>
  </button>
</div>
          

<div class="col s6">
     <h3 class="small-titles center-align">
  Already have an account? <a class="btn waves-effect waves-light" href="{{ url_for('login') }}"><i class="fas prefix fa-sign-in-alt"></i> Log in here! </a></h3>

</div>

    </form>

  </div>
  </div>


{% endblock %}