{% extends "base.html" %}
{% block content %}
<!--main page body-->

<div class="row">

   <div class="carousel carousel-slider center white-text">
    <div class="carousel-fixed-item center white-text">
      <a class="btn waves-effect black grey-text darken-text-2" href="https://www.gov.uk/get-coronavirus-test">COVID-19 TEST</a>
    </div>
    <div class="carousel-item red" href="#one!">
      <h2>Welcome</h2>
      <p class="white-text">We are here to try and put a positive spin on the gruelling task of self isolation! Swipe for the instructions!</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>One</h2>
      <p class="white-text">Have a scroll below at the symptoms people are experiencing, as a result of coming into contact with COVID-19.</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Two</h2>
      <p class="white-text">Register so that you can add your own symptoms. When youve added a symptom, you will see it in the list below! You can edit and delete the symptoms at any time.</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Three</h2>
      <p class="white-text">Monitor your health and use this as a tool!</p>
      <ul class="site-actions">
      <li >You can track your symptoms</li>
      <li >Read other peoples' symptoms</li>
      <li >Edit your symptoms at any time!</li>
      </ul>

    </div>
  </div>
</div>

<div class="row">
<div class="col center-align">

<ul class="collapsible">
    {% for symptom in symptoms %}
        <li>
            <div class="collapsible-header">
            <div class="col s3">
            <i class="prefix fas fa-viruses"></i>
            {% if session.user| lower == symptom.symptom_recipient | lower %}
              <!--add an are you sure button  --> 
                <a href="{{ url_for('delete_symptom', symptom_id=symptom._id) }}" class="btn-small green accented">Delete</a>
                <a href="{{ url_for('edit_symptom', symptom_id=symptom._id) }}" class="btn-small green accented">Edit</a>
            {% endif %}
            </div>
            <div class="col s9">
            <strong>{{ symptom.symptom_name }} </strong> Experienced Since : <strong>{{ symptom.start_date}}</strong> added by : {{ symptom.symptom_recipient }}</div>
            </div>
            <div class="collapsible-body"><p>{{ symptom.description }}</p></div>
        </li>
    {% endfor %}
</ul>
</div>
</div>
{% endblock %}